<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taraqqiyot Comfirt City</title>
      <link rel="shortcut icon" href="{% static 'image/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<form class="container" method="post">{% csrf_token %}
    <div class="brand-title">Taraqqiyot Comfort City</div>
    <div class="inputs">
      <label for="name">Ism :</label>
      <input type="text" name="name" id="name" placeholder="Mirabror" />
      <label for="phonenumber">Telefon raqam :</label>
      <input type="tel" name="phonenumber" id="phonenumber" placeholder="+998 90 123 4567" />
      <button type="submit">Yuborish</button>
    </div>
  </form>
</body>
</html>