<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <title>Success</title>
      <link rel="shortcut icon" href="{% static 'image/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!-- background: #1DA1F2; -->

<body style="min-height:90vh; background-color: #1DA1F2; display: flex; align-items: center; justify-content: center; flex-flow: column; color: #fff;"  >

    <h2 style="text-align:center;">So'rovingiz muvaffaqiyatli qabul qilindi !</h2>
    <br>
    <p style="text-align:center;">Operatorlarimiz tez orada siz bilan bog'lanishadi !</p>


</body>

</html>